.tarjeta-libro {
    background-color: #8bbd8e;
    border-radius: 30px;
    padding: 18px;
    text-align: center;
    color: #1b261b;
    cursor: pointer;
}

.portada-simulada {
    width: 100%;
    height: 120px;
    background-color: #2b3a2b;
    border-radius: 20px;
    margin-bottom: 10px;
}

.tag-turno {
    background-color: #e2f1e4 !important;
    color: #1b261b !important;
    font-weight: 700 !important;
    border-radius: 15px !important;
}
.boton-like {
    background-color: #b9d7b3;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.boton-like:hover {
    background-color: #a4c89d;
}

.boton-like.activo {
    background-color: #ffb6c1;
}