.libro-marco {
    background-color: transparent;
    width: 100%;
    max-width: 1050px;
    min-height: 620px;
    border: none;
    box-shadow: none;
    position: relative;
    padding: 25px 40px;
    margin: auto;
}

.logo-titulo {
    font-family: 'Caveat', cursive;
    font-size: 32px;
    font-weight: 700;
    color: #1b261b;
    text-decoration: underline;
}

.link-cursivo {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    font-weight: 700;
    color: #1b261b !important;
    text-decoration: underline !important;
}